summary: Update amazon linux 2023 image in openstack account and install test dependencies

systems: [amazon-linux-2023-64-base]

environment:
    TARGET_SYSTEM: amazon-linux-2023-64

execute: |
    . "$TESTSLIB/pkgdb.sh"
    . "$TESTSLIB/utils.sh"

    if [ "$SPREAD_REBOOT" = 0 ]; then
        # Ensure the nameservers used are the same than the host vm
        net_interface="$(ip route show default | awk '{print $5}')"
        nameservers="$(resolvectl status "$net_interface" | grep "DNS Servers:" | cut -d: -f2)"
        if [ -n "$nameservers" ]; then
            for nameserver in $nameservers; do
                echo "nameserver $nameserver" | tee -a /etc/resolv.conf
            done
        fi
        systemctl disable --now systemd-resolved

        # Make the upgrade
        distro_update_package_db
        distro_upgrade_packages
        distro_install_package git golang

        # Make sure we have the latest golang version, as some of the tests require at least 1.21
        dnf upgrade --releasever=latest -y golang

        install_test_dependencies "$TARGET_SYSTEM"        
        remove_pkg_blacklist

        REBOOT
    fi

    # Make sure /etc/environment exists
    touch /etc/environment

    # Setup ntp server depending on the openstack environment
    update_ntp

    # Clean the disk
    clean_machine

restore: |
    # Remove the project path content
    rm -rf "$PROJECT_PATH"
    sync
