summary: Update opensuse 15.6 64 bits image with the latest updates, test dependencies and selinux enabled

systems: [opensuse-tumbleweed-64-base]

environment:
    TARGET_SYSTEM: opensuse-tumbleweed-64-selinux-enabled

execute: |
    . "$TESTSLIB/pkgdb.sh"
    . "$TESTSLIB/utils.sh"

    if [ "$SPREAD_REBOOT" = 0 ]; then
        # the image has SELinux enabled by default
        selinuxenabled

        # Cleanup non required repos
        rm -f /etc/zypp/repos.d/*-debug*.repo
        rm -f /etc/zypp/repos.d/*-backports*.repo

        # Use mirrorcache avoids errors trying to access the repo metadata
        # It is possible to use https://ftp.icm.edu.pl/pub/Linux/opensuse/ as backup
        sed -i -s -E -e 's@^baseurl=http://download.opensuse.org/@baseurl=http://mirrors.dotsrc.org/opensuse/@g' /etc/zypp/repos.d/repo*.repo

        # Make the upgrade and install the dependencies needed to run snapd tests
        # In case some repo cannot be updated due to proxy restriction
        distro_update_package_db || true
        distro_upgrade_packages

        install_pkg_dependencies
        install_test_dependencies "$TARGET_SYSTEM"

        remove_pkg_blacklist

        # Prepare to use selinux in permissive mode
        distro_install_package restorecond policycoreutils setools-console selinux-policy-targeted selinux-policy-devel

        REBOOT
    fi

    # confirm that SELinux is enabled
    selinuxenabled

    # Make sure /etc/environment exists
    touch /etc/environment

    # Make sure root is in sudoers file
    cp "$PWD"/sudoers /etc/sudoers

    # Setup ntp server depending on the openstack environment
    update_ntp

    # Clean the disk
    clean_machine

restore: |
    # Remove the project path content
    rm -rf "$PROJECT_PATH"
    sync
