name: Clean Openstack PS7 Stg VMs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  clean-os-amd64-ps7:
    name: cleaner-amd64-stg-ps7
    runs-on: [self-hosted, spread-enabled]
    environment: OS_AMD64_STG_PS7

    steps:
    - name: Ensure the workspace is clean
      run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"

    - name: Checkout code
      uses: actions/checkout@v4
      with:
          ref: master

    - name: Create the fake env
      shell: bash
      run: |
         cp -rf ./cleaner/fakesuite ./cleaner/openstack

    - name: Run cleanup
      env:
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_IDENTITY_API_VERSION: ${{ vars.OS_IDENTITY_API_VERSION }}
          OS_INTERFACE: ${{ vars.OS_INTERFACE }}
          OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
          OS_PROJECT_DOMAIN_NAME: ${{ vars.OS_PROJECT_DOMAIN_NAME }}
          OS_PROJECT_NAME: ${{ secrets.OS_PROJECT_NAME }}
          OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
          OS_USER_DOMAIN_NAME: ${{ vars.OS_USER_DOMAIN_NAME }}
          OS_USERNAME: ${{ secrets.OS_USERNAME }}
      shell: bash
      run: |
          cd ./cleaner/openstack
          spread -gc

  clean-os-arm64-ps7:
    name: cleaner-arm64-stg-ps7
    runs-on: [self-hosted, spread-enabled]
    environment: OS_ARM64_STG_PS7

    steps:
    - name: Ensure the workspace is clean
      run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"

    - name: Checkout code
      uses: actions/checkout@v4
      with:
          ref: master

    - name: Create the fake env
      shell: bash
      run: |
         cp -rf ./cleaner/fakesuite ./cleaner/openstack

    - name: Run cleanup
      env:
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_IDENTITY_API_VERSION: ${{ vars.OS_IDENTITY_API_VERSION }}
          OS_INTERFACE: ${{ vars.OS_INTERFACE }}
          OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
          OS_PROJECT_DOMAIN_NAME: ${{ vars.OS_PROJECT_DOMAIN_NAME }}
          OS_PROJECT_NAME: ${{ secrets.OS_PROJECT_NAME }}
          OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
          OS_USER_DOMAIN_NAME: ${{ vars.OS_USER_DOMAIN_NAME }}
          OS_USERNAME: ${{ secrets.OS_USERNAME }}
      shell: bash
      run: |
          cd ./cleaner/openstack
          spread -gc
